---
---

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../main.css"/>
    <link rel="stylesheet" type="text/css" href="../projects.css"/>
    <link rel="stylesheet" type="text/css" href="project_pages.css"/>

    <title>Scott Stack's Website</title>

  </head>

<body>
  <div id="page">
    {% include header.html %}

    <div class="main_content">
        <h1 id="project_title">Evolution Simulation Display</h1>

        <table>
            <tr>
                <td class="text_td">
                    <p class="section_title">Overview</p>
                    <p class="section_text">
                        A little art piece that simulates pixel creatures with neural network "brains". This was mainly a way to show off a
                        software project I was working on to learn Rust: <a href="https://github.com/spstack/evolution-sim">https://github.com/spstack/evolution-sim</a>
                        The basic idea is that each little pixel creature has a small neural network "brain" that allows it to take in input and perform an action in response
                        at every step of the simulation. If a creature lives long enough to find food, it'll reproduce spreading it's brain structure to the next generation 
                        (with optional random mutations). The result is that, over time, the creatures should "learn" to be better at finding food and intelligent-ish behavior 
                        should emerge. It's pretty fun to watch the simulation progress and see what kinds of strategies the creatures start to adapt.
                    </p>
                    <p class="section_text">
                        The actual hardware here is just an LED matrix behind a blank white canvas. The canvas diffuses the LEDs really nicely, and I'm pretty happy with the way it looks!
                        The idea came from a post on the Adafruit website:
                        <a href="https://learn.adafruit.com/use-an-art-canvas-to-diffuse-RGB-matrix">https://learn.adafruit.com/use-an-art-canvas-to-diffuse-RGB-matrix</a>
                        It's being driven by a raspberry pi running a custom version of Linux built using Yocto. Definitely wasn't necessary, but I wanted an excuse to learn
                        a bit about Yocto as well :)
                    </p>

                    <table>
                        <tr>
                            <td>
                                <a href="evsim_media/evsim_demo.mp4">
                                    <video autoplay loop muted playsinline src="evsim_media/evsim_demo.mp4" class="section_image">
                                        This browser does not support the video tag.
                                    </video>
                                </a>
                            </td>
                            <td>
                                <a href="evsim_media/evsim_wall2.jpg">
                                    <img class="section_image" src="evsim_media/evsim_wall2.jpg" style="max-height: 425px;">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="evsim_media/evsim_front2.jpg">
                                    <img class="section_image" src="evsim_media/evsim_front2.jpg">
                                </a>
                            </td>
                            <td>
                                <a href="evsim_media/evsim_back.jpg">
                                    <img class="section_image" src="evsim_media/evsim_back.jpg" style="max-height: 500;">
                                </a>
                            </td>
                        </tr>
                    </table>

                    <p class="section_title">Software</p>
                    <p class="section_text">
                        Here's a <a href="https://github.com/spstack/evolution-sim">link to Github project</a> for the main simulation code. This project was really just a way for me to learn Rust,
                        so it took a while to write it. The README in that repo has more information about the sim!
                    </p>
                    <p class="section_text">
                        I also made an attempt to learn a bit about Yocto to create a more lightweight linux to run on the Raspberry Pi. Yocto is a kind of build environment used to
                        create custom embedded Linux distributions. It basically allows you to create images that contain all your code and dependencies already installed.
                        Here's a <a href="https://github.com/spstack/evolution-sim-yocto">link to the Yocto repo</a> for this project. It really just takes the baseline Poky distribution, adds support for the Raspberry Pi, and
                        implements one recipe for getting the evolution simulation Rust code and installing it. It also sets up a startup script to ensure the program runs automatically
                        upon boot.
                    </p>
                    <p class="section_title">Hardware</p>
                    <p class="section_text">
                        The hardware for this project is really pretty simple since I didn't design anything and pretty much just bought everything off the shelf.
                        It uses a Raspberry Pi 3A with a special "bonnet" for interfacing with a HUB75 type LED matrix. Here are the parts:
                    </p>
                    <p class="section_text">
                        <ul style="margin-left: 1em;">
                            <li><a href="https://www.adafruit.com/product/4732">LED Panel</a></li>
                            <li><a href="https://www.adafruit.com/product/4027">Raspberry Pi Model 3A+</a></li>
                            <li><a href="https://www.adafruit.com/product/3211">LED Matrix "Bonnet"</a></li>
                            <li><a href="https://www.amazon.com/dp/B0DCYZZZ9N?ref=ppx_yo2ov_dt_b_fed_asin_title&th=1">Blank Canvas</a></li>
                        </ul>
                    </p>

                    <br/>
                    <br/>
                    <br/>

                </td>
            </tr>


            <!--
            <tr>
                <td colspan="2">
                    <p class="section_title">More Pictures</p>
                    <table class="img_table">
                        <tr>

                            <td class="img_td">
                                <a href="pcb_clock_media/pcb_printed.jpg">
                                    <img src="pcb_clock_media/thumbnails/pcb_printed_thumb.jpg" class="img_thumb"
                                    />
                                </a>
                            </td>

                        </tr>
                    </table>
                </td>
            </tr>
            -->

        </table>
    </div>

    {% include footer.html %}

    </div>

    </div>
</body>

</html>