---
---

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../main.css"/>
    <link rel="stylesheet" type="text/css" href="../projects.css"/>
    <link rel="stylesheet" type="text/css" href="project_pages.css"/>

    <title>Scott Stack's Website</title>

  </head>

<body>
  <div id="page">
  {% include header.html %}
	<div class="main_content">
	<h1 id="project_title">Dual Core MIPS Instruction Set Processor</h1>
	
	<table>
		<tr>
			<td class="text_td">
			<p class="section_title">Overview</p>
			<p class="section_text">This project was completed for a computer architecture course at Purdue University. VHDL was used to design a dual core, pipelined, MIPS instruction set processor. I completed this project with one other partner. More information can be found in the report below</p>
			
			

			</td>
			<td>
			<a href="picture_viewer.php?img=processor_media/Pipeline_Processor_Block_Diagram&referer=processor"><img src="processor_media/Pipeline_Processor_Block_Diagram.jpg" class="main_image"/></a>
			</td>
		</tr>
		
		<tr>
			<td>
			<p class="section_title">Project Documents</p>
			<p class="section_text"><a href="processor_media/ECE437FinalReport.pdf">Final Report</a> - This is the final report that was written for this project. It contains detailed information about the processor.</p>
		
		<tr>
			<td colspan="2">
			<p class="section_title">Pictures</p>
			<table class="img_table">
			<tr>
			<td class="img_td">
				<a href="picture_viewer.php?img=processor_media/Dual_Core_Toplevel&referer=processor"><img src="processor_media/thumbs/Dual_Core_Toplevel_thumb.jpg" class="img_thumb"/></a>
			</td>
			<td class="img_td">
				<a href="picture_viewer.php?img=processor_media/dcache&referer=processor"><img src="processor_media/thumbs/dcache_thumb.jpg" class="img_thumb"/></a>
			</td>
			<td class="img_td">
				<a href="picture_viewer.php?img=processor_media/iCache&referer=processor"><img src="processor_media/thumbs/iCache_thumb.jpg" class="img_thumb"/></a>
			</td>
			</tr>
			</table>
			</td>
		</tr>
	  
	</table>

	</div>

	{% include footer.html %}

  </body>
</html>
