---
---

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="home.css"/>
    <link rel="stylesheet" type="text/css" href="main.css"/>

    <title>Scott Stack's Website</title>

  </head>


  <body>
    <div id="page">
    {% include header.html %}

    <div class="main_content" onmouseup="quickLinkUp()">
    <table class="main_table">
      <tr>
        <td id="intro_text" colspan="2">
            Hey there, I made this site really just to document and show off some fun projects I've done throughout the years. Some of them are pretty old at this point, so don't judge me too harshly :)
            Feel free to check out my github too which may have some more projects: <a href="https://github.com/spstack">https://github.com/spstack</a>. Thanks!
          <p>
            - Scott
          </p>
        </td>
      </tr>
    </table>
	</div>

	{% include footer.html %}	

  </div>
  </body>
</html>
    
